$breakpoints: (
  md: '768px',
  lg: '1024px',
);

@mixin media-up($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Media query breakpoint not found: $breakpoint";
  }
}
