.breadcrumb-app {
  font-size: 12px;
  padding: 7px 13px;
}

.breadcrumb-block {
  padding-top: 50px;
}

@media (max-width: 768px) {
  .breadcrumb-block {
    padding-top: 0px;
  }
}

.form-control {
  color: #3d4146 !important;
}

.form-group-fields {
  display: flex;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 10px;
  padding-bottom: 4px;
  margin-bottom: 24px;
}
.form-group-fields .field-items {
  display: inline-table;
  width: 25%;
}
.form-group-fields button {
  display: inline-table;
  vertical-align: top;
  margin: 28px 5px;
  padding: 10px 20px;
}
@media (max-width: 768px) {
  .form-group-fields .field-items {
    width: 100%;
  }
  .form-group-fields button {
    margin-top: -2px;
    margin-bottom: 18px;
    margin-left: 14px;
  }
}
.padding-modal-small {
  padding: 15px 20px;
  background: #f6f6f6;
}
.center-body {
  text-align: center;
}
.center-body .label-error {
  display: inline-block;
  text-align: center;
  position: relative;
}
.center-body .form-group {
  margin-bottom: 0px;
}
.display-inline-block {
  display: inline-block;
}
.center-footer {
  text-align: center;
  display: block;
}
.error-change-password {
  background: #c94a35;
  color: #ffffff;
  border-bottom: 1px solid #b02d2d;
  padding: 6px 11px;
  width: 109%;
  font-size: 13px;
  text-align: center;
  margin: 0;
  margin-left: -21px;
  margin-top: -15px;
  display: block;
  margin-bottom: 15px;
}
.form-subtitle {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 3px;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #e6e6e6;
  display: block;
  width: 100%;
  color: #32325d;
}

.hide {
  display: none;
}

.no-padding {
  padding: 0px !important;
}

@media (max-width: 768px) {
  .no-padding-mobile {
    padding: 0px;
  }
}
