.breadcrumb-app {
  font-size: 12px;
  padding: 7px 13px;
}

.breadcrumb-block {
  padding-top: 50px;
}

@media (max-width: 768px) {
  .breadcrumb-block {
    padding-top: 0px;
  }
}

.form-control {
  color: #3d4146 !important;
}

.form-group-fields {
  display: flex;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 10px;
  padding-bottom: 4px;
  margin-bottom: 24px;
}
.form-group-fields .field-items {
  display: inline-table;
  width: 25%;
}
.form-group-fields button {
  display: inline-table;
  vertical-align: top;
  margin: 29px 0px;
  line-height: 1.5;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .form-group-fields {
    display: block;
  }
  .form-group-fields .field-items {
    width: 100%;
  }
  .form-group-fields button {
    margin-top: -2px;
    margin-bottom: 21px;
    margin-left: 13px;
    width: 92%;
    padding: 10px;
  }
}
.padding-modal-small {
  padding: 15px 20px;
  background: #f6f6f6;
}
.center-body {
  text-align: center;
}
.center-body .label-error {
  display: inline-block;
  text-align: center;
  position: relative;
}
.center-body .form-group {
  margin-bottom: 0px;
}
.display-inline-block {
  display: inline-block;
}
.center-footer {
  text-align: center;
  display: block;
}
.error-change-password {
  background: #c94a35;
  color: #ffffff;
  border-bottom: 1px solid #b02d2d;
  padding: 6px 11px;
  width: 109%;
  font-size: 13px;
  text-align: center;
  margin: 0;
  margin-left: -21px;
  margin-top: -15px;
  display: block;
  margin-bottom: 15px;
}
.form-subtitle {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 3px;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #e6e6e6;
  display: block;
  width: 100%;
  color: #32325d;
}

.hide {
  display: none;
}

.no-padding {
  padding: 0px !important;
}

.row-sm {
  display: flex;
  flex-wrap: wrap;
}

.special-btn-save {
  position: absolute;
  top: 11px;
  right: 11px;
}

.textarea-min-height {
  min-height: 200px;
}

.overlay-div {
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(255, 255, 255, 0.7) !important;
  z-index: 10000 !important;
  vertical-align: middle !important;
  content: '' !important;
}

.overlay-div-transparent {
  background-color: transparent !important;
}

.overlay-div .content {
  position: absolute;
  top: 46%;
  left: 46%;
  margin-left: -15px;
  margin-top: -15px;
  color: #404040;
  font-size: 12px;
}

.fa-spin {
  animation: fa-spin 1.6s infinite linear;
}

.div-card-header {
  z-index: 1;
  margin-top: -80px !important;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-box-shadow: 0px 3px 7px -8px rgb(0 0 0 / 75%);
  -moz-box-shadow: 0px 3px 7px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 7px -8px rgb(0 0 0 / 75%);
}

.button-detail-disabled {
  background-color: #58787d !important;
  border-color: #58787d !important;
  font-weight: 600;
}

.form-horizontal {
  display: inline-flex;
}

.form-horizontal label {
  margin-right: 8px;
  margin-top: 5px;
  display: inline-block;
}

.div-card-content {
  background: #fafafa;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin: 0px;
  margin-bottom: 18px;
  margin-top: 0px !important;
}

.div-card-body {
  background: #ffffff;
  border: 0px;
  padding-top: 40px !important;
}

.div-card-body .icon {
  width: 12px;
  height: 12px;
}

@media (max-width: 768px) {
  .no-padding-mobile {
    padding: 0px;
  }
}

.div-inline-block {
  display: inline-block;
}

.btn-cursor {
  cursor: pointer;
}

.btn-inline-block {
  color: #2c7ba4;
  cursor: pointer;
}

.modal-center {
  display: block;
}

.modal-center .row {
  display: block;
  text-align: center;
}

.modal-center .row .form-group {
  display: inline-block;
}
.modal-center .label-error {
  width: 100%;
}
