.web-button {
  background-color: var(--clr-primary);
  border-radius: 20px;
  border: 0;
  color: var(--clr-white);
  font-family: var(--ff-text);
  font-size: 0.8125rem;
  height: 34px;
  outline: 0;
  text-transform: uppercase;
  font-weight: 500;
  width: 171px;
}
