@import '../base/mixins.scss';
body,
html {
  @supports(display: grid) {
    display: block;
  }
}
.gallery {
  display: grid;
  grid-template: 1fr ;
  grid-gap: 15px;
  padding: 40px;
  @include media-up(md) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 8vw);

  }
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--1 {
  @include media-up(md) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
  }
}

.gallery__item--2 {
  @include media-up(md) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  }
}
.gallery__item--3 {
  @include media-up(md) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  }
}

.gallery__item--4 {
  @include media-up(md) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  }
}
.vbox-title .vbox-top {
  top: 80%;
}