.hs{
  &-container-histories {
    max-width: 1200px;
    margin: 0 auto;
  }
  &-section-intro {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 8.5rem 0.3125rem 1.125rem 1.3125rem;
    margin-left: 10%;
    width: 90%;
    
    @include media-up(md) {
    padding: 8.5rem 2.3125rem 3.125rem 2.3125rem;
    margin-left: 15%;
    width: 69%;
    }

    select {
      background: var(--clr-primary);
      color: var(--white);
      border: 0;
      border-radius: 1.875rem;
      padding: 0.5rem 0 0.5rem 0.625rem;
      font-family: var(--ff-text);
      font-weight: 400;
      font-size: 0.8125rem;
      align-self: center;
      @include media-up(md) {
        display: none;
      }
    }
  
    h2 {
      font-family: var(--ff-title);
      color: var(--clr-cyan-100);
      margin-bottom: 1.625rem;
      text-transform: uppercase;
      font-weight: 100;
    }
    p {
      font-family: var(--ff-text);
      color: var(--clr-grey-500);
      margin-bottom: 2.9375rem;
    }
    .buttons{
      margin-left:21%;
      
    }
    .web-button {
      display: none;

      @include media-up(md) {
      display: initial;
      background-color: var(--clr-primary);
      border-radius: 20px;
      border: 0;
      color: var(--clr-white);
      font-family: var(--ff-text);
      font-size: 0.8125rem;
      height: 34px;
      outline: 0;
      text-transform: uppercase;
      font-weight: 500;
      width: 112px;
      margin: 0px 50px 0 0;
        
      }
      
    }
    .web-button:disabled {
      color: var(--clr-grey-100);
    }
  }
}

