.section-share-coc {
    display: grid;
    grid:1fr/340px 1fr 1fr 1fr;
    padding: .5rem 2.3125rem .15rem 1.3125rem;
    width: 100%;
    margin-left: 5%;
    @include media-up(md) {
      padding: .5rem 2.3125rem .15rem 2.3125rem;
      margin-left: 18%;
      width: 65%;
    }
    

      .team-work{
        font-family: var(--ff-text);
        font-weight: bold;
        margin-left: 20px;
      }
   
         
}

.vl{
  display: none;
  @include media-up(md) {
    display: block;
  width: 80%;
  margin: 10%;
  margin-top: 5%;
  }
}

.fecha{
  
  @include media-up(md) {
    display:grid;
    grid:2fr/391px 0fr 0fr;
      /*gooey menu style.css*/
.fabs {
  position: absolute;
  right: 20%;

}
  
.action {
  background:#f0efe6 ;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: background-color 0.4s ease-in-out;
  border: 3px solid #ffff;
  margin-top: -9px;
  z-index: 3;
}

.action i {
  position: absolute;
  background:#f0efe6;
  color: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  cursor: pointer;
  z-index: 3;

}

.action:hover {
  background-color: #f0efe6; ;
}

.g-btn {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--clr-primary);
  border: 1px solid #ffff;
  margin-top:-9px;
  left: -1;
}

.g-btn:hover{
  transform: rotate(360deg);
  transition: all 0.5s;
}

.g-btn i {
  position: absolute;
  font-size: 12px;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btnsh {
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
  height: 20px;
  width: 20px;
  transition: 0.3s ease-in-out;
  left: 0%;
  transform: translateX(-50%);
  z-index: -1;
}
.btnsh.open {
  bottom: 50px;
}

}
} 

