@import '../base/_mixins.scss';
.section-quotes-coc {
    display: grid;
    grid-template: 1fr;
    

    @include media-up(md) {
      grid-template: 1fr / 1fr 1fr;
      grid-gap: 17px;
      margin-bottom: -88px;
      padding: 0 60px;
    }
    @include media-up(lg) {
      grid-template: 1fr / 1fr 1fr;
    }
  

  
    .container-quotes {
      width: 100%;
      height: auto;
    }

  .quotes__title {
    width: 60%;
    padding: 44px 35px;
    margin-left: 9%;

    @include media-up(md) {
    width: 80%;
    padding: 44px 35px;
    margin-left: 20%;
    }
    h2 {
      font-family: var(--ff-title);
      font-weight: bold;
      font-size: 1.5625rem;
      color: #2e2020;
      margin: 0;
      line-height: 41px;
    }
  
  }
  
  .img-quotes{
    width: 25%; 
    height: auto;

    @include media-up(md) {
        width: 20%; 
     
      } 
    }

    .quotes__text {
        width: 320px;
        height: auto;        
        font-family: var(--ff-text);
        color: var(--clr-black);
        margin-left: 12%;
        margin-top: 0%;
        line-height: 29px;
        
        @include media-up(md) {
            width: 350px;
            height: auto;
            margin-left: 23%;
          margin-top: -20%;
          line-height: 29px;
          } 
      }

}