.section-quotes {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-gap: 17px;
    margin-bottom: 50px;

    @include media-up(md) {
      grid-template: 1fr / 1fr 1fr;
      margin: 24px 0;
      padding: 0 60px;
    }
    @include media-up(lg) {
      grid-template: 1fr / 1fr 1fr;
    }
  

  
    .container-quotes {
      width: 100%;
      height: auto;
    }

  .quotes__title {
    width: 80%;
    padding: 44px 35px;
    margin-left: 20%;
    
    @include media-up(md) {
    width: 80%;
    padding: 44px 35px;
    margin-left: 20%;
    }
    h2 {
      font-family: var(--ff-title);
      font-weight: bold;
      font-size: 1.5625rem;
      color: var(--clr-cyan-100);
      margin: 0;
      line-height: 41px;
    }
  }
  
  .img-quotes{
    width: 15%; 
    height: auto;

    @include media-up(md) {
        width: 25%; 
     
      } 
    }

    .quotes__text {
        width: 350px;
        height: auto;        
        font-family: var(--ff-text);
        color: var(--clr-black);
        margin-left: 10%;
        margin-top: -5%;
        line-height: 29px;
        
        @include media-up(md) {
            width: 350px;
            height: auto;
            margin-left: 13%;
            margin-top: -6%;
            line-height: 29px;
          } 
      }

}