.section-img {
  display: grid;
  grid-template: 1fr;

  @include media-up(md) {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      grid-gap: 17px;
      margin-bottom: 50px;
  }

  
  .img-quotes{
    width: 100%; 
    height: 100%;
    }
    hr {
        width: 50%;
        border: 3px solid;
        border-color: var(--clr-primary);
        opacity: inherit;
      }
    .quotes__text {
        width: 350px;
        height: auto;        
        font-family: var(--ff-text);
        color: var(--clr-black);
        
        @include media-up(md) {
            height: auto;
          } 
      }

      .section-text {
        width: 100%; 
        height: auto;
        display:flex;
      } 

}