.ia{
    &-container-histories {
      max-width: 1200px;
      margin: 0 auto;
    }
    &-section-intro {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: .5rem 2.3125rem .15rem 2.3125rem;
      width: 100%;

      @include media-up(md) {
        margin-left: 18%;
        width: 70%;
      }
      h2 {
        font-family: var(--ff-title);
        color: var(--clr-cyan-100);
        margin-bottom: 1.625rem;
        font-weight: 100;
        font-size:18px;
        @include media-up(md) {
        
          font-size: 2em;
        }
      }
      
      
      
    }
}

.section-team {
    display: flex;
    padding: .5rem 2.3125rem .15rem 1.3125rem;
    width: 100%;
    @include media-up(md) {
      padding: .5rem 2.3125rem .15rem 2.3125rem;
      margin-left: 18%;
      width: 65%;
    }
    
    
    .number{
        font-family: var(--ff-text);
        color: var(--clr-cyan-100);
        margin-bottom: 2.9375rem;
        font-weight: bold;
      }
      .container-image {
        border: 4px solid var(--clr-primary);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right:-6px;
        
        @include media-up(md) {
          width: 80px;
          height: 60px;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      .team-work{
        font-family: var(--ff-text);
        font-weight: bold;
        margin-left: 20px;
      }

    .fecha{
      display: none;
      @include media-up(md) {
        display: grid;
        grid: 1fr/3fr 1fr 1fr;
      }
    } 
      p{
        font-family: var(--ff-text);
        margin-left: 20px;
        color: var(--clr-black);
        font-size:10px;
        @include media-up(md) {
         font-size:13px; 
        }
      }
      a{
        font-family: var(--ff-text);
        margin-left: 20px;
        color: var(--clr-black)
      }
   
    
     
}

.vl{
  display: none;
  @include media-up(md) {
    display: block;
  width: 80%;
  margin: 10%;
  margin-top: 5%;
  }
}

  .comp{
    display: grid;
    grid: 1fr/91px 0fr 1fr;
    gap: 3px;
    margin-left: 7%;
    font-size: 13px;
   
    @include media-up(md) {
      display: none;
    }

    .fabs {
      position: absolute;
      right: 20%;
    
    }
      
    .action {
      background:#ffffff ;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      transition: background-color 0.4s ease-in-out;
      border: 3px solid #ffff;
      margin-top: -9px;
      z-index: 3;
    }
    
    .action i {
      position: absolute;
      background:#ffffff ;
      color: black;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 15px;
      cursor: pointer;
      z-index: 3;
    
    }
    
    .action:hover {
      background-color: #ffffff; ;
    }
    
    .g-btn {
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: var(--clr-primary);
      border: 1px solid #ffff;
      margin-top:-9px;
      left: -1;
    }
    
    .g-btn:hover{
      transform: rotate(360deg);
      transition: all 0.5s;
    }
    
    .g-btn i {
      position: absolute;
      font-size: 12px;
      color: white;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    
    .btnsh {
      position: absolute;
      bottom: 0px;
      margin-bottom: 0px;
      height: 20px;
      width: 20px;
      transition: 0.3s ease-in-out;
      left: 0%;
      transform: translateX(-50%);
      z-index: -1;
    }
    .btnsh.open {
      bottom: 50px;
    }
    
    }


.fecha{
  display: none;
  @include media-up(md) {
      /*gooey menu style.css*/


}
}   
