.video-wrapper {
    width:100%;
    overflow: hidden;
    margin-bottom:12%;
    @include media-up(md) {
      margin-bottom:6%;
      margin-bottom:-5%;
    }
    
    video {
      object-fit: cover;
      width:100%;
      height:auto;
    }
}