.cont{
    &-container-content {
      max-width: 1200px;
      margin: 0 auto;
    }
    &-section-intro {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 1.5rem 2.3125rem 3.125rem 2.3125rem;
      margin-left: 20%;
      width: 60%;
      margin-top: -30px;


      p::first-letter{
        font-family: var(--ff-title);
        color: var(--clr-grey-50);
        font-weight: bold;
        opacity: 0.3px;
        font-size: 6rem;
        margin-left: 5px;
      }
      p{
        font-family: var(--ff-text);
        color: var(--clr-black);
        font-weight: bold;
      }
    }
  }