.int-art-img-sec{
    width: 100%;
    display: block;

    img{
        width: 100%;
        height: auto;
    }

    
    
}

.grid-description-sec {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-gap: 17px;
    margin-bottom: 50px;
    margin-top: 10%;
    @include media-up(md) {
      padding: 0 60px;
    }
    @include media-up(lg) {
      grid-template: 1fr / 1fr 1fr;
    }
    .text-description {
        font-family: var(--ff-text);
        color: var(--clr-grey-500);
        font-size: 12px;
        margin-top:-40px;

    }
  
    .container-camera {
      width: 6%;
      height:auto;
      margin-top:-40px;
      margin-left: 40%;
      @include media-up(md) {
        
      }
    }

    .text-photographer {
        font-family: var(--ff-text);
        color: var(--clr-grey-500);
        font-size: 12px;
        margin-top:-40px;
        padding: 0 38px;
        margin-left: 35%;
        @include media-up(md) {
            font-size: 9px;
            
          }
          @include media-up(lg) {
           
          }
  
      }
  }