@import '../base/mixins.scss';

.navbar {
  background-color: transparent;
  justify-content: center !important;
  padding: 48px 12px !important;
  position: fixed !important;
  width: 100%;
  transition: 250ms ease-in-out background-color;
  z-index: 2;

  @include media-up(lg) {
    padding: 40px 60px !important;
  }
  &--scrolled {
    background-color: var(--clr-white);
    padding: 25px 12px !important;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.28);
    .navbar__brand img:nth-child(1) {
      display: none;
    }
    .navbar__brand img:nth-child(2) {
      display: block;
    }
    .navbar__hamburger span {
      background-color: var(--clr-cyan-100);
    }
    @include media-up(lg) {
      &.navbar {
        flex-wrap: nowrap !important;
        padding: 40px 60px !important;
        gap: 80px;
      }
      & .navbar__menu ul {
        margin-top: 0px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
      & .navbar__menu li {
        font-size: 14px;
        margin: 0;
        letter-spacing: 0px;
      }
      & .navbar__menu li a {
        color: var(--clr-cyan-100);
      }
    }
  }
  &__brand {
    img {
      width: 200px;
      height: auto;
    }
    img:nth-child(2) {
      display: none;
    }
  }
  &__hamburger {
    align-self: end;
    display: block;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    &:focus {
      outline: 0;
    }
    span {
      display: block;
      height: 3px;
      margin-bottom: 5px;
      background-color: var(--clr-white);
      border-radius: 3px;
      transform-origin: 0 0;
      transition: 0.4s;
    }
    &--active {
      span:nth-child(1) {
        transform: translate(0px, 0px) rotate(45deg);
      }
      span:nth-child(2) {
        opacity: 0;
        transform: translateX(15px);
      }
      span:nth-child(3) {
        transform: translate(-3px, 2px) rotate(-45deg);
        width: 25px !important;
      }
      & ~ .navbar__menu {
        right: 0;
      }
    }
    span:nth-child(1) {
      width: 25px;
    }
    span:nth-child(2) {
      width: 21px;
    }
    span:nth-child(3) {
      width: 17px;
    }
    @include media-up(lg) {
      display: none;
    }
  }
  &__menu {
    background-color: var(--clr-cyan-100);
    height: 100vh;
    width: 100vw;
    top: 0;
    position: absolute;
    z-index: -1;
    right: -120%;
    transition: 250ms ease-in-out right;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
      padding: 170px 30px 0 30px;
    }
    li {
      list-style: none;
      text-transform: uppercase;
      margin: 20px 0;
      font-size: 1.3rem;
      letter-spacing: 2px;
      font-family: var(--ff-text);
      font-weight: 300;
    }
    a {
      color: var(--clr-white);
      text-decoration: none;
      transition: 250ms ease-in-out color;
      &:hover {
        color: var(--clr-yellow-100);
        text-decoration: none;
      }
    }
    .active {
      border-bottom: 2px solid var(--clr-primary);
    }
    @include media-up(lg) {
      position: static;
      width: 100%;
      height: auto;
      background-color: transparent;
      ul {
        padding: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
      }
      li {
        font-size: 1rem;
        text-transform: capitalize;
        margin: 0 15px;
      }
    }
  }

  @media not all and (hover: none) {
    .navbar__hamburger:hover span:nth-child(2) {
      background-color: var(--clr-yellow-200);
    }
  }
}
