.pdf{
    &-container-content {
      max-width: 1200px;
      margin: 0 auto;
    }
    &-section-intro {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 1rem 2rem 1rem 2rem;
      margin-left: 0%;
      width: 100%;
      @include media-up(md) {
        padding: 1.5rem 2.3125rem 3.125rem 2.3125rem;
      margin-left: 15%;
      width: 75%;
      }

    }
    .pdf-content{
        width: 100%;
        height:auto !important;
    }
  }