@import '../base/_mixins.scss';

.container-recommended-read {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 37px;
  padding-right: 37px;
  margin-top: 30px;

  .bg-recommended-read {
    @include media-up(lg) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
    }
  }
}

.wrapper-recommended-read {
  width: 100%;
  height: 106px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
  img {
    width: 118px;
    height: 100%;
    object-fit: cover;
  }
  .text-recommended-read {
    h3 {
      font-size: 1.125rem;
      font-family: var(--ff-title);
    }
    p {
      display: none;
      margin: 0;
    }
  }

  @include media-up(lg) {
    img {
      width: 150px;
    }
    .text-recommended-read {
      p {
        display: block;
      }
    }
  }
}