/*gooey menu style.css*/
.fabs {
  position: absolute;
  right: 38px;
  z-index: 500;
}
  
.action {
  background:#b3864f ;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: background-color 0.4s ease-in-out;
}

.action i {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  cursor: pointer;
}

.action:hover {
  background-color: var(--clr-primary);
}

.g-btn {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--clr-primary);
}

.g-btn:hover{
  transform: rotate(360deg);
  transition: all 0.5s;
}

.g-btn i {
  position: absolute;
  font-size: 12px;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btns {
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
  height: 30px;
  width: 30px;
  transition: 0.3s ease-in-out;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.btns.open {
  bottom: 50px;
}