@import '../base/_mixins.scss';

.grid-home-video {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-gap: 17px;
  margin-bottom: 50px;
  @include media-up(md) {
    margin: 24px 0;
    padding: 0 60px;
  }
  @include media-up(lg) {
    grid-template: 1fr / 1fr 1fr;
  }

  .text-home-video {
    padding: 0 38px;

    @include media-up(md) {
     padding-top: 30px;
    }
  }

  .container-video {
    width: 100%;
    height: auto;
  }
}


.swiper-video .vjs-control-bar {
  background-color: transparent !important;
}

.splide-video .vjs-big-play-button {
  width: 38px !important;
  height: 38px !important;
  border-radius: 80% !important;
  background-color: transparent !important;
  border: 3px solid var(--clr-yellow-200) !important;
  top: 53% !important;
  left: 56% !important;
  line-height: 33px !important;
}
.splide-video .vjs-big-play-button .vjs-icon-placeholder {
  color: var(--clr-yellow-200);
}

.splide-video .vjs-play-progress {
  background: var(--clr-yellow-200) !important;
}

.splide-video .splide__arrow--prev,
.splide-video .splide__arrow--next {
  border: 1px solid var(--clr-white) !important;
  border-radius: 50% !important;
  padding: 7px 10px !important;
  background-color: transparent !important;
}

.splide-video .splide__arrow--prev svg,
.splide-video .splide__arrow--next svg {
  fill: var(--clr-white);
}

.splide-video .splide__pagination--ltr {
  bottom: -40px;
}
.splide-video .splide__pagination__page {
  height: 3px;
  width: 30px;
  border-radius: unset;
  margin: 0 11px;
}
.splide-video .splide__pagination__page:focus {
  outline: unset;
}
.splide-video .splide__pagination__page.is-active {
  background: var(--clr-cyan-100);
  transform: scale(1.1);
}
